body {
    background-color: #415A77;
}
p, table, strong, ul, h1, h2{
    color: #E0E1DD;
}

link{
    color: #778DA9;
}

nav{
    background-color: #0D1B2A;
    color: #778DA9;
    padding: 10px;
    margin-bottom: 30px;
}

nav a{color: #E0E1DD}
nav a:hover{background-color: #778DA9;}